<div class="user-card">
  <div class="header">
    <div class="user-info">
      <span class="name"
        ><strong>{{ 'CARS.CAR.FIELD.CAR_SIGN' | translate }}:</strong> {{ car.carSign | defaultValue }} /
        <strong>{{ 'CARS.CAR.FIELD.CURRENT_MILEAGE' | translate }}: </strong> {{ car.mileage | defaultValue }}
        {{ 'CARS.CAR.KM' | translate }} / <strong>{{ 'CARS.CAR.FIELD.VIN_CODE' | translate }}: </strong>
        {{ car.vinCode | defaultValue }}</span
      >
      <span class="name"
        ><strong>{{ 'CARS.CAR.FIELD.BRAND' | translate }}:</strong> {{ car.brand | defaultValue }} /
        <strong>{{ 'CARS.CAR.FIELD.MODEL' | translate }}: </strong> {{ car.model | defaultValue }}</span
      >
      <span class="name"
        ><strong>{{ 'CARS.CAR.FIELD.YEAR' | translate }}:</strong> {{ car.year | defaultValue }} /
        <strong>{{ 'CARS.CAR.FIELD.VOLUME' | translate }}: </strong> {{ car.volume | defaultValue }}</span
      >
    </div>
    <div class="icons">
      @if (isDialog) {
      <button
        class="select-button"
        (click)="selectCar()"
      >
        {{ 'COMMON.SELECT' | translate }}
      </button>
      } @else {
      <button
        class="icon-button edit"
        (click)="editCar(car.id!)"
      >
        <mat-icon class="icon">edit</mat-icon>
      </button>
      <button
        class="icon-button delete"
        (click)="deleteCar(car.id!)"
      >
        <mat-icon class="icon">delete</mat-icon>
      </button>
      }
    </div>
  </div>

  <div class="notes">
    <label for="notes">{{ 'COMMON.FIELD.ADDITIONAL_NOTES' | translate }}</label>
    <div class="notes-box">
      {{ car.additionalNotes | defaultValue }}
    </div>
    <small style="text-align: right"
      >{{ 'CARS.CAR.AUDIT.CREATED' | translate }}: {{ car.createdAt | date : datetimeDefaultFormat }}</small
    >
  </div>
</div>
