.main-menu-title {
  padding: 8px 12px 8px 18px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  border-left: 3px solid transparent;
  cursor: pointer;
  text-decoration: none;

  .main-menu-node-name {
    white-space: nowrap;
    font-size: 14px;
  }

  .mat-icon {
    width: 20px;
    height: 20px;
    margin-right: 12px;
    flex: 0 0 auto;

    svg {
      margin: 1px;
    }
  }
}

.main-menu-sub-items {
  padding-left: 18px + 20px + 12px;
  border-left: 3px solid transparent;
  overflow: hidden;
}
