<div class="user-card">
  <div class="header">
    <div class="user-info">
      <span class="name"
        ><strong>{{ 'CLIENTS.CLIENT.FIELD.NAME' | translate }}:</strong> {{ client.fullName | defaultValue }} /
        <strong>{{ 'CLIENTS.CLIENT.FIELD.PHONE_NUMBER' | translate }}:</strong>
        {{ client.phoneNumber | defaultValue }}</span
      >
    </div>
    <div class="icons">
      @if (isDialog) {
      <button
        class="select-button"
        (click)="selectClient()"
      >
        {{ 'COMMON.SELECT' | translate }}
      </button>
      } @else {
      <button
        class="icon-button edit"
        (click)="editClient(client.id!)"
      >
        <mat-icon class="icon">edit</mat-icon>
      </button>
      <button
        class="icon-button delete"
        (click)="deleteClient(client.id!)"
      >
        <mat-icon class="icon">delete</mat-icon>
      </button>
      }
    </div>
  </div>

  <div class="notes">
    <label for="notes">{{ 'COMMON.FIELD.ADDITIONAL_NOTES' | translate }}</label>
    <div class="notes-box">
      {{ client.additionalNotes | defaultValue }}
    </div>
    <small style="text-align: right"
      >{{ 'CLIENTS.CLIENT.AUDIT.CREATED' | translate }}: {{ client.createdAt | date : datetimeDefaultFormat }}</small
    >
  </div>
</div>
