<div class="user-card">
  <div class="header">
    <div class="user-info">
      <span class="name"
        ><strong>Полное имя:</strong> {{ client.fullName | defaultValue }} / <strong>Номер телефона:</strong>
        {{ client.phoneNumber | defaultValue }}</span
      >
    </div>
    <div class="icons">
      <button
        class="icon-button edit"
        (click)="editClient(client.id!)"
      >
        <mat-icon class="icon">edit</mat-icon>
      </button>
      <button
        class="icon-button delete"
        (click)="deleteClient(client.id!)"
      >
        <mat-icon class="icon">delete</mat-icon>
      </button>
    </div>
  </div>

  <div class="notes">
    <label for="notes">Дополнительные заметки</label>
    <div class="notes-box">
      {{ client.additionalNotes | defaultValue }}
    </div>
    <small style="text-align: right">Создан: {{ client.createdAt | date : datetimeDefaultFormat }}</small>
  </div>
</div>
