.tab-menu {
  display: flex;
  justify-content: space-around;
  background: #f8f9fa;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #666;
  padding: 10px;
  transition: color 0.3s ease;
}

.icon {
  width: 50px;
  height: 50px;
  font-size: 40px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab.active {
  color: #70dc9d;
  font-weight: bold;
}

.tab:hover {
  color: #9ce8bc;
}
