<div
  *ngIf="isDropdownLoaded$ | async; else dropdownLoading"
  class="loading-container"
>
  <div
    class="dropdown"
    *ngIf="results$ | async as results"
  >
    <div
      class="dropdown-item"
      *ngFor="let result of results"
      (click)="selectItem(result)"
      [innerHTML]="
        result.phoneNumber
          ? (result.phoneNumber +
              (result.fullName ? ', ' + result.fullName : '') +
              (result.jobTitle ? ', ' + result.jobTitle : '') | simpleTruncate : 35)
          : (result.carSign +
              (result.mileage ? ', ' + result.mileage + ' км' : '') +
              (result.brand ? ', ' + result.brand : '') +
              (result.model ? ', ' + result.model : '') +
              (result.volume ? ', ' + result.volume : '') +
              (result.year ? ', ' + result.year + 'г.' : '') | simpleTruncate : 45)
      "
    ></div>
  </div>
</div>
<ng-template
  #dropdownLoading
  class="loading-container"
>
  <div class="dropdown-loader">
    <check-please-loading loaderSize="large"></check-please-loading>
  </div>
</ng-template>
